  <!doctype html>
<html>
    <head>
        <script src='https://cdn.firebase.com/v0/firebase.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </head>
    <body ng-app="WookieApp">
        <div ng-controller="dogeController">
            <p ng-repeat='message in messages'>{{message.sender}} : {{message.text}}</p>
            <input ng-model="user" type="text"/>
            <input ng-model="message" type="text"/>
            <button ng-click="sendmessage()">send</button>
        </div>
    </body>
</html>